<section id='demo'>
  <div class="heading">
    <h5 class="text-center text-capitalize font-weight-bold border-bottom py-3">
      Sales tax calculator
    </h5>
  </div>
  <div class='bill-block'>
    <%= render 'bill' %>  
  </div>
</section>
